<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="jak.jaaak">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="ikon.ikon.App"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:icon="@mipmap/iconapp"
        android:roundIcon="@mipmap/iconapp"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar"
        android:windowSoftInputMode="adjustPan">
        <activity android:name="ikon.ikon.Activites.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="ikon.ikon.Activites.Register_Activity" />
        <activity android:name="ikon.ikon.Activites.Login" />
        <activity android:name="ikon.ikon.Activites.Shoping" />
        <activity android:name="ikon.ikon.Activites.Language" />
        <activity android:name="ikon.ikon.Activites.ShowProduct" />
        <activity android:name="ikon.ikon.Activites.ResetPassword"
            android:theme="@style/Base.Theme.AppCompat.Dialog"
            />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"
            tools:replace="android:value" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBGS40Mul8U0L2foyV1LAmfR91IryKxK1I" />

        <activity android:name="ikon.ikon.Activites.RequestedSuccessfully" />
        <activity android:name="ikon.ikon.Activites.RequestedSuccesfullyMaintenence" />

    </application>

</manifest>